@import "vars";

:root {
    --color-neutrals-0: #{$color-neutrals-0};
    --color-neutrals-800: #{$color-neutrals-800};
    --color-neutrals-100: #{$color-neutrals-100};
    --color-neutrals-200: #{$color-neutrals-200};
    --color-neutrals-300: #{$color-neutrals-300};
    --color-neutrals-400: #{$color-neutrals-400};
    --color-neutrals-500: #{$color-neutrals-500};
    --color-neutrals-600: #{$color-neutrals-600};
    --color-neutrals-700: #{$color-neutrals-700};
    --color-neutrals-900: #{$color-neutrals-900};
    --color-neutrals-1000: #{$color-neutrals-1000};
    --color-strawberry-0: #{$color-strawberry-0};
    --color-strawberry-100: #{$color-strawberry-100};
    --color-strawberry-200: #{$color-strawberry-200};
    --color-strawberry-300: #{$color-strawberry-300};
    --color-strawberry-400: #{$color-strawberry-400};
    --color-strawberry-500: #{$color-strawberry-500};
    --color-strawberry-600: #{$color-strawberry-600};
    --color-strawberry-700: #{$color-strawberry-700};
    --color-strawberry-800: #{$color-strawberry-800};
    --color-strawberry-900: #{$color-strawberry-900};
    --color-strawberry-1000: #{$color-strawberry-1000};
    --color-fir-500: #{$color-fir-500};
    --color-fir-100: #{$color-fir-100};
    --color-fir-200: #{$color-fir-200};
    --color-fir-300: #{$color-fir-300};
    --color-fir-400: #{$color-fir-400};
    --color-fir-600: #{$color-fir-600};
    --color-fir-700: #{$color-fir-700};
    --color-fir-800: #{$color-fir-800};
    --color-fir-900: #{$color-fir-900};
    --color-fir-1000: #{$color-fir-1000};
    --color-fir-0: #{$color-fir-0};
    --color-ocean-500: #{$color-ocean-500};
    --color-ocean-0: #{$color-ocean-0};
    --color-ocean-100: #{$color-ocean-100};
    --color-ocean-200: #{$color-ocean-200};
    --color-ocean-300: #{$color-ocean-300};
    --color-ocean-400: #{$color-ocean-400};
    --color-ocean-600: #{$color-ocean-600};
    --color-ocean-700: #{$color-ocean-700};
    --color-ocean-800: #{$color-ocean-800};
    --color-ocean-900: #{$color-ocean-900};
    --color-ocean-1000: #{$color-ocean-1000};
    --color-rating-500: #{$color-rating-500};
    --color-rating-1000: #{$color-rating-1000};
    --color-rating-0: #{$color-rating-0};
    --color-rating-100: #{$color-rating-100};
    --color-rating-200: #{$color-rating-200};
    --color-rating-300: #{$color-rating-300};
    --color-rating-400: #{$color-rating-400};
    --color-rating-600: #{$color-rating-600};
    --color-rating-700: #{$color-rating-700};
    --color-rating-800: #{$color-rating-800};
    --color-rating-900: #{$color-rating-900};
    --color-carrot-0: #{$color-carrot-0};
    --color-carrot-500: #{$color-carrot-500};
    --color-carrot-1000: #{$color-carrot-1000};
    --color-carrot-100: #{$color-carrot-100};
    --color-carrot-200: #{$color-carrot-200};
    --color-carrot-300: #{$color-carrot-300};
    --color-carrot-400: #{$color-carrot-400};
    --color-carrot-600: #{$color-carrot-600};
    --color-carrot-700: #{$color-carrot-700};
    --color-carrot-800: #{$color-carrot-800};
    --color-carrot-900: #{$color-carrot-900};
    --padding-xs: #{$padding-xs};
    --margin-xs: #{$margin-xs};
    --padding-s: #{$padding-s};
    --padding-m: #{$padding-m};
    --padding-l: #{$padding-l};
    --padding-xl: #{$padding-xl};
    --padding-xxl: #{$padding-xxl};
    --padding-xxxl: #{$padding-xxxl};
    --margin-s: #{$margin-s};
    --margin-m: #{$margin-m};
    --margin-l: #{$margin-l};
    --margin-xl: #{$margin-xl};
    --margin-xxl: #{$margin-xxl};
    --margin-xxxl: #{$margin-xxxl};
    --main-xs: #{$main-xs};
    --main-s: #{$main-s};
    --main-m: #{$main-m};
    --main-l: #{$main-l};
    --color-components-text-neutral: #{$color-components-text-neutral};
    --color-components-text-contrast: #{$color-components-text-contrast};
    --color-components-icon-neutral: #{$color-components-icon-neutral};
    --color-components-icon-contrast: #{$color-components-icon-contrast};
    --color-states-primary-pale: #{$color-states-primary-pale};
    --color-states-primary-hover: #{$color-states-primary-hover};
    --color-states-primary-pressing: #{$color-states-primary-pressing};
    --color-states-primary-focus: #{$color-states-primary-focus};
    --color-states-primary-disabled: #{$color-states-primary-disabled};
    --color-components-background-neutral: #{$color-components-background-neutral};
    --color-components-background-contrast: #{$color-components-background-contrast};
    --color-mode-accent-primary: #{$color-mode-accent-primary};
    --color-mode-accent-pale: #{$color-mode-accent-pale};
    --color-components-icon-negative: #{$color-components-icon-negative};
    --color-components-icon-positive: #{$color-components-icon-positive};
    --color-components-background-accent: #{$color-components-background-accent};
    --color-mode-negative-primary: #{$color-mode-negative-primary};
    --color-mode-negative-pale: #{$color-mode-negative-pale};
    --color-mode-positive-primary: #{$color-mode-positive-primary};
    --color-mode-positive-pale: #{$color-mode-positive-pale};
    --color-components-text-negative: #{$color-components-text-negative};
    --color-components-text-positive: #{$color-components-text-positive};
    --color-components-background-negative: #{$color-components-background-negative};
    --color-components-background-positive: #{$color-components-background-positive};
    --color-components-icon-accent: #{$color-components-icon-accent};
    --color-components-text-accent: #{$color-components-text-accent};
    --color-components-stroke-accent: #{$color-components-stroke-accent};
    --color-components-stroke-negative: #{$color-components-stroke-negative};
    --color-components-stroke-positive: #{$color-components-stroke-positive};
    --color-components-background-accent-pale: #{$color-components-background-accent-pale};
    --color-components-background-negative-pale: #{$color-components-background-negative-pale};
    --color-components-background-positive-pale: #{$color-components-background-positive-pale};
    --color-mode-neutral-primary: #{$color-mode-neutral-primary};
    --color-mode-contrast-primary: #{$color-mode-contrast-primary};
    --color-mode-neutral-pale: #{$color-mode-neutral-pale};
    --color-components-stroke-neutral: #{$color-components-stroke-neutral};
    --color-components-stroke-contrast: #{$color-components-stroke-contrast};
    --color-mode-contrast-pale: #{$color-mode-contrast-pale};
    --color-components-background-neutral-pale: #{$color-components-background-neutral-pale};
    --color-components-background-contrast-pale: #{$color-components-background-contrast-pale};
    --main-xl: #{$main-xl};
    --main-xxl: #{$main-xxl};
    --main-xxxl: #{$main-xxxl};
    --color-states-invert-hover: #{$color-states-invert-hover};
    --color-states-invert-pale: #{$color-states-invert-pale};
    --color-states-invert-disabled: #{$color-states-invert-disabled};
    --color-states-invert-pressing: #{$color-states-invert-pressing};
    --color-states-invert-focus: #{$color-states-invert-focus};
    --color-mode-neutral-secondary: #{$color-mode-neutral-secondary};
    --color-components-text-neutral-secondary: #{$color-components-text-neutral-secondary};
    --color-mode-contrast-secondary: #{$color-mode-contrast-secondary};
    --color-components-text-contrast-secondary: #{$color-components-text-contrast-secondary};
    --color-mode-accent-secondary: #{$color-mode-accent-secondary};
    --color-components-text-accent-secondary: #{$color-components-text-accent-secondary};
    --color-lavender-500: #{$color-lavender-500};
    --color-mode-system-link: #{$color-mode-system-link};
    --color-mode-system-link-visited: #{$color-mode-system-link-visited};
    --color-components-text-link: #{$color-components-text-link};
    --color-components-text-link-visited: #{$color-components-text-link-visited};
    --color-components-icon-link: #{$color-components-icon-link};
    --color-components-icon-link-visited: #{$color-components-icon-link-visited};
    --color-components-stroke-link: #{$color-components-stroke-link};
    --color-components-stroke-link-visited: #{$color-components-stroke-link-visited};
    --color-components-stroke-neutral-secondary: #{$color-components-stroke-neutral-secondary};
    --color-mode-neutral-tertiary: #{$color-mode-neutral-tertiary};
    --color-components-stroke-neutral-tertiary: #{$color-components-stroke-neutral-tertiary};
    --padding-xxs: #{$padding-xxs};
    --color-mode-negative-secondary: #{$color-mode-negative-secondary};
    --color-mode-positive-secondary: #{$color-mode-positive-secondary};
    --color-components-stroke-accent-pale: #{$color-components-stroke-accent-pale};
    --color-components-stroke-neutral-pale: #{$color-components-stroke-neutral-pale};
    --color-components-text-neutral-tertiary: #{$color-components-text-neutral-tertiary};
    --color-components-icon-neutral-secondary: #{$color-components-icon-neutral-secondary};
    --color-components-background-product: #{$color-components-background-product};
}
