$color-neutrals-0: #ffffffff;
$color-neutrals-800: #393939ff;
$color-neutrals-100: #e6e6e6ff;
$color-neutrals-200: #cdcdcdff;
$color-neutrals-300: #b5b5b5ff;
$color-neutrals-400: #9c9c9cff;
$color-neutrals-500: #838383ff;
$color-neutrals-600: #6a6a6aff;
$color-neutrals-700: #515151ff;
$color-neutrals-900: #202020ff;
$color-neutrals-1000: #070707ff;
$color-strawberry-0: #ffdddbff;
$color-strawberry-100: #f8b3b0ff;
$color-strawberry-200: #f28c86ff;
$color-strawberry-300: #eb665fff;
$color-strawberry-400: #e54139ff;
$color-strawberry-500: #de1f16ff;
$color-strawberry-600: #c2180fff;
$color-strawberry-700: #a6110aff;
$color-strawberry-800: #8a0c05ff;
$color-strawberry-900: #6e0702ff;
$color-strawberry-1000: #520400ff;
$color-fir-500: #109d51ff;
$color-fir-100: #a7ebc7ff;
$color-fir-200: #78d8a5ff;
$color-fir-300: #4fc486ff;
$color-fir-400: #2db16aff;
$color-fir-600: #0c8e48ff;
$color-fir-700: #087f3fff;
$color-fir-800: #057036ff;
$color-fir-900: #02612eff;
$color-fir-1000: #005226ff;
$color-fir-0: #dbffecff;
$color-ocean-500: #003edeff;
$color-ocean-0: #dbe5ffff;
$color-ocean-100: #abc0f8ff;
$color-ocean-200: #7d9df2ff;
$color-ocean-300: #517cebff;
$color-ocean-400: #275ce5ff;
$color-ocean-600: #0036c2ff;
$color-ocean-700: #002ea6ff;
$color-ocean-800: #00278aff;
$color-ocean-900: #001f6eff;
$color-ocean-1000: #001752ff;
$color-rating-500: #ffc200ff;
$color-rating-1000: #523e00ff;
$color-rating-0: #fff6dbff;
$color-rating-100: #ffebafff;
$color-rating-200: #ffe183ff;
$color-rating-300: #ffd658ff;
$color-rating-400: #ffcc2cff;
$color-rating-600: #dca700ff;
$color-rating-700: #ba8d00ff;
$color-rating-800: #977300ff;
$color-rating-900: #755800ff;
$color-carrot-0: #ffefdbff;
$color-carrot-500: #ff940dff;
$color-carrot-1000: #522e00ff;
$color-carrot-100: #ffddb2ff;
$color-carrot-200: #ffca89ff;
$color-carrot-300: #ffb85fff;
$color-carrot-400: #ffa636ff;
$color-carrot-600: #dc7f09ff;
$color-carrot-700: #ba6a06ff;
$color-carrot-800: #975603ff;
$color-carrot-900: #754201ff;
$padding-xs: 4px;
$margin-xs: 20px;
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 16px;
$padding-xl: 20px;
$padding-xxl: 24px;
$padding-xxxl: 28px;
$margin-s: 24px;
$margin-m: 28px;
$margin-l: 32px;
$margin-xl: 36px;
$margin-xxl: 40px;
$margin-xxxl: 44px;
$main-xs: 4px;
$main-s: 8px;
$main-m: 12px;
$main-l: 16px;
$color-components-text-neutral: #070707ff;
$color-components-text-contrast: #ffffffff;
$color-components-icon-neutral: #070707ff;
$color-components-icon-contrast: #ffffffff;
$color-states-primary-pale: #ffffff66;
$color-states-primary-hover: #0707070a;
$color-states-primary-pressing: #07070714;
$color-states-primary-focus: #0707075c;
$color-states-primary-disabled: #ffffffad;
$color-components-background-neutral: #070707ff;
$color-components-background-contrast: #ffffffff;
$color-mode-accent-primary: #003edeff;
$color-mode-accent-pale: #dbe5ffff;
$color-components-icon-negative: #c2180fff;
$color-components-icon-positive: #087f3fff;
$color-components-background-accent: #003edeff;
$color-mode-negative-primary: #de1f16ff;
$color-mode-negative-pale: #ffdddbff;
$color-mode-positive-primary: #109d51ff;
$color-mode-positive-pale: #dbffecff;
$color-components-text-negative: #c2180fff;
$color-components-text-positive: #087f3fff;
$color-components-background-negative: #de1f16ff;
$color-components-background-positive: #109d51ff;
$color-components-icon-accent: #003edeff;
$color-components-text-accent: #003edeff;
$color-components-stroke-accent: #003edeff;
$color-components-stroke-negative: #c2180fff;
$color-components-stroke-positive: #087f3fff;
$color-components-background-accent-pale: #dbe5ffff;
$color-components-background-negative-pale: #ffdddbff;
$color-components-background-positive-pale: #dbffecff;
$color-mode-neutral-primary: #070707ff;
$color-mode-contrast-primary: #ffffffff;
$color-mode-neutral-pale: #e6e6e6ff;
$color-components-stroke-neutral: #070707ff;
$color-components-stroke-contrast: #ffffffff;
$color-mode-contrast-pale: #202020ff;
$color-components-background-neutral-pale: #e6e6e6ff;
$color-components-background-contrast-pale: #202020ff;
$main-xl: 20px;
$main-xxl: 24px;
$main-xxxl: 28px;
$color-states-invert-hover: #ffffff1f;
$color-states-invert-pale: #07070766;
$color-states-invert-disabled: #070707ad;
$color-states-invert-pressing: #ffffff14;
$color-states-invert-focus: #ffffff5c;
$color-mode-neutral-secondary: #202020ff;
$color-components-text-neutral-secondary: #202020ff;
$color-mode-contrast-secondary: #e6e6e6ff;
$color-components-text-contrast-secondary: #e6e6e6ff;
$color-mode-accent-secondary: #275ce5ff;
$color-components-text-accent-secondary: #275ce5ff;
$color-lavender-500: #8c3af8ff;
$color-mode-system-link: #275ce5ff;
$color-mode-system-link-visited: #8c3af8ff;
$color-components-text-link: #275ce5ff;
$color-components-text-link-visited: #8c3af8ff;
$color-components-icon-link: #275ce5ff;
$color-components-icon-link-visited: #8c3af8ff;
$color-components-stroke-link: #275ce5ff;
$color-components-stroke-link-visited: #8c3af8ff;
$color-components-stroke-neutral-secondary: #202020ff;
$color-mode-neutral-tertiary: #9c9c9cff;
$color-components-stroke-neutral-tertiary: #9c9c9cff;
$padding-xxs: 2px;
$color-mode-negative-secondary: #c2180fff;
$color-mode-positive-secondary: #087f3fff;
$color-components-stroke-accent-pale: #dbe5ffff;
$color-components-stroke-neutral-pale: #e6e6e6ff;
$color-components-text-neutral-tertiary: #9c9c9cff;
$color-components-icon-neutral-secondary: #202020ff;
$color-components-background-product: #f5f5f5ff;
