.sortlist {
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-components-stroke-neutral-pale, #E6E6E6);
    cursor: pointer;

    &:nth-last-child(1) {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom: 0px;
    }

    &:hover {
        background-color: #F7F9FF;
    }
}

.sortlistAction {
    margin-left: 44px;
    overflow: hidden;
    color: var(--color-components-text-accent, #003EDE);
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: 137px;
}

.sortlistmatrixId {
    margin-left: 33px;
    overflow: hidden;
    color: #9C9C9C;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Числовые значения в таблице */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 9px;
}

.sortlistName {
    margin-left: 37px;
    overflow: hidden;
    color: var(--color-components-text-neutral, #070707);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-width: 219px;

}

.sortlistDate {
    margin-left: 25px;
    overflow: hidden;
    color: var(--color-components-text-neutral, #070707);
    text-overflow: ellipsis;
    white-space: nowrap;

    /* Числовые значения в таблице */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: 71px;
}

.sortlistTime {
    margin-left: 31px;
    overflow: hidden;
    color: var(--color-components-text-neutral, #070707);
    text-overflow: ellipsis;
    white-space: nowrap;

    /* Числовые значения в таблице */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: 71px;
}

.sortlistStatus {
    margin-left: 13px;
    min-width: 93px;
}



.sortlistAuthor {
    padding-left: 32px;
    overflow: hidden;
    color: var(--color-components-text-neutral, #070707);
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Название матрицы или тип */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 32px;
}